extends layout
block variables
  - var title = 'all pages'
block content
  if pages
    each page in pages
      div.pagestub
        h1: a(href='pages/'+page.id+'/')= page.title
        p.lead= page.lead 
        p= page.body
  else
    p No content
