extends layout
block variables
  - var title = 'all pages'
block content
  if pages
    each page in pages
      div.pagestub: a(href='pages/'+page.id+'/')
        p.aside= page.renderedtime
        h1= page.title
        p.lead= page.lead
        p= page.body
  else
    p No content
