block variables
doctype html
html
  head
    title tooru / #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body: div#wrapper
    div#header
      a(href='/'): img(src='/images/toorubox.png', height=50)
      div#pagetitle
        div#pageicon
        | #{title}
      div#pagemenu
        ul
          li: a(href='/') all pages
          li: a(href='/newpage/') new page
          li: a(href='/admin/') admin
    block content
