block variables
doctype html
html
  head
    base(href=url_root)/
    title tooru / #{title}
    link(rel='stylesheet', href='stylesheets/style.css')
  body: div#wrapper
    div#header
      a(href='.'): img(src='images/toorubox.png', height=50)
      div#pagetitle
        div#pageicon
        | #{title}
      div#pagemenu
        ul
          each entry in main_menu_entries
            li: a(href=entry.path)= entry.text
    block content
