extends layout
block variables
  - var title = 'new page'
block content
    form(action="api/addpage/", method="POST")#newpage
        p
            label(for="title") Title:
            textarea(id="title", name="title", maxlength="80")
        p 
            label(for="lead") Lead:
            textarea(id="lead", name="lead", maxlength="280")
        p 
            label(for="body") Page content: 
            textarea(id="body", name="body")
        p 
            button(type="submit", id="submit") Post
