:root {
  --bgblack: #333333;
  --black: #222222;
  --white: #cccccc;
  --bkshade: #191919;
  --whshade: #999999;
  --accenta: #00725d;
  --accentb: #c93362;
  --aashade: #0b443a;
  --abshade: #852b48;
}

body {
  background-color: var(--bgblack);
  color: var(--white);
}
body, textarea {
    font: 14px "Lucida Grande", "Segoe UI", Helvetica, sans-serif;
}

.hilit {
  background-color: #494949;
}

a {
  color: var(--accenta);
}

#wrapper {
  width: 1000px;
  margin: 15px auto 0;
}

#header {
  height: 50px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px var(--white) solid;
  padding-bottom: 15px;
}

#pageicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px -1px;
  padding: 0;
}

#pagetitle {
  position: absolute;
  left: 60px;
  top: 25px;
  font-size: 20px;
}

#pagemenu {
  position: absolute;
  left: 66px;
  top: 0;
}

#pagemenu ul {
  margin: 0;
  padding: 0 10px;
  border-bottom: 1px var(--white) solid;
}

#pagemenu li {
  display: inline;
  padding: 0 10px;
}

#pagemenu a, h1 a {
  color: var(--white);
  text-decoration: none;
}
#pagemenu li:hover {
  background-color: var(--black);
}

textarea {
  background-color: var(--black);
  color: var(--white);
  border: 0px;
  border-radius: 5px;
  border-left: var(--bkshade) 2px solid;
}
textarea:focus {
  outline: 0;
}

button {
  background: var(--accenta);
  color: white;
  text-shadow: 0 1px 0 var(--bgblack);
  border: 0px;
  border-radius: 5px;
  border-bottom: var(--aashade) 2px solid;
}
button:active {
  border-top: var(--black) 2px solid;
  border-bottom: 0;
  background-color: var(--aashade);
}

form#newpage label {
  display: block;
  width: 100px;
}
form#newpage textarea {
  width: 995px;
  resize: none;
}
form#newpage #title { height: 20px }
form#newpage #lead { height: 40px }
form#newpage #body { height: 200px }
form#newpage #submit {
  width: 60px;
  height: 30px;
  float: right;
}
.pagestub {
  background-color: #222;
  font-size: 12px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 5px 10px 10px;
  margin: 5px auto;
  font-family: "Segoe UI";
}
.pagestub:hover {
  border-left: solid 3px var(--accenta);
  padding-left: 7px;
}
.pagestub p, .pagestub h1 {
  margin: 0 auto;
}
.lead {
  font-style: italic;
}
.pagestub a {
  color: inherit;
  text-decoration: inherit;
}
.pageid, .aside {
  font-size: small;
  color: #555;
  margin-top: 0;
  padding-right: 1em;
}
h1 {
  margin-bottom: 0.3em;
}
